<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="title">
            <a href="/">Blog of moon</a>
            <p>here are all badr's blogs</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">new Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>about me</h2>
        <h3>i am badr mohammer almutairi</h3>
        <p>
            Software Engineering, King Fahd of petroleum and minerals-KFUPM <br>
            As a Software Engineering student at King Fahd University of <br> 
            Petroleum & Minerals, I am deeply passionate about programming <br>
            and love working with languages such as Java, HTML/CSS, python and <br>
            JavaScript. I am always seeking new ways to challenge and improve <br>
             my skills ,and I can't wait to continue building products that will <br>
              help people and make a positive impact on the world.
        </p>
    </div>
</body>
</html>